<template>
  <ul>
    <li v-for="user in users" :key="user._id">{{ user.name }} ({{ user.age }})</li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      users: []
    };
  },
  mounted() {
    fetch('http://backend:3000/api/users')
        .then(response => response.json())
        .then(data => {
          this.users = data;
        });
  }
};
</script>
